@model BudgetViewModel

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<div>
    @* <a asp-action="Create">Create New</a> *@
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-category-modal">
        Add Category
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categories.FirstOrDefault()!.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                    <button type="button" class="btn btn-warning" onclick="editCategory('@item.Id')">
                        Edit
                    </button>
                    @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                    <button type="button" class="btn btn-danger" onclick="deleteCategory('@item.Id')">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_CreatePartial" />
<partial name="_DeletePartial" />
<partial name="_EditPartial" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}